{% extends 'main.html' %}
{% load static %}

{% block content %}

<form method="POST" action="{% url 'login' %}" class="form auth__form">
            {% csrf_token %}

     <input type="text" name="username">
     <input type="password" name="password" placeholder="Enter Password">
     <input type="submit" value="Login">

            <!-- {% for field in form %}
            <div class="form__field">
                <label for="formInput#text">{{field.label}}</label>
                {{field}}

                <!-- {% if field.help_text %}
                <small>{{field.help_text}}</small>
                {% endif %} -->

                <!-- {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
                {% endfor %}

            </div>

            {% endfor %}

            <div class="auth__actions">
                <input class="btn btn--sub btn--lg" type="submit" value="Sign  In" />
            </div> --> 
        </form>

{%  endblock content %}