{% extends 'main.html' %}
{% load static %}
{% block content %}

<main class="home">
 
    <section class="hero-section text-center">
        <div class="container container--narrow">
          <div class="hero-section__box">
            <h2>Live, Learn  <span>Level up</span></h2>
            <h2>one day at a time.</h2>
          </div>
  
          <div class="hero-section__search">
            <form class="form" action="{% url 'profiles' %}" method="get">
              {% csrf_token %}
              <div class="form__field">
                <label for="formInput#search">Search Developers </label>
                <input class="input input--text" id="formInput#search" type="text" name="search_query"
                  value="{{search_query}}"
                  placeholder="Portfolio Search by name" />
              </div>
          
            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
  
    <section class="devlist">
      <video class="hero"autoPlay loop muted id="video"> 
        <source src="{% static 'images/video.mp4' %}" type='video/mp4'/>
      </video>
      <div class="container">
        <div class="grid grid--three">

            {% for profile in profiles %}

          <div class="column card">
            <div class="dev">
              <a href="{% url 'user-profile' profile.id %}" class="card__body">
                <div class="dev__profile">
                  <img class="avatar avatar--md" src="{{profile.profile_image.url}}" alt="image" />
                  <div class="dev__meta">
                    <h3>{{profile.name}} </h3>
                    <h5>{{profile.short_intro|slice:"200"}}</h5>
                  </div>
                </div>
                <p class="dev__info">{{profile.bio|slice:"200"}} </p>
                <div class="dev__skills">

                {% for skill in profile.skill_set.all|slice:"10" %}
                  <span class="tag tag--pill tag--main">
                    <small>{{skill}}</small>
                  </span>
                  {% endfor %}
                </div>
              </a>
            </div>
        </div>
        
        {% endfor %}


        </div>
      </div>
    </section>
   
  </main>
  
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
    .text-center {
    margin: 0;
    font-family: 'Outfit' 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(6, 82, 132);
  }
    .hero-section { 
      margin-bottom: 200px;
      margin-top: 200px;
      margin-right: 300px;
      margin-left: 300px;
      border-radius: 40px;
    } 
  /* .container--narrow{ only logi and navgationbar 
    background-color: blue;
  } */
  .hero{
     /* object-fit: contain; */
     
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

 }
 .btn{
  background-color: rgb(1, 37, 61);
 }


 @media screen and (max-width:1024px) {
  .hero-section  {
    position: fixed;
    display: block;
    
  }
  @media screen and (max-width:900px) {

    .hero-section  {
      position: fixed;
      display: block;
    }
  }
 
    
 @media screen and (max-width:750px) {
  .hero-section {
    position: fixed;
    display: block;
    
  }

  @media screen and (max-width: 650px) {
  .hero-section  {
     
    display: block;
    position: fixed;
    
  }

  </style> 

{% endblock %}
