{% extends 'main.html' %}
{% block content%}


<main class="formPage my-xl">
  <div class="content-box">
      <div class="formWrapper">

          <br>
          <form class="form" action="" method="POST">
            {% csrf_token %}
            <p> Are you sure you want to delete "{{object}}"?</p>
            <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}">  Go Back </a>

              <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
          </form>
      </div>
  </div>
  <footer class="footer">
      
    <p class="text">
      Profolios Developed By: Shorena K. Anzhilov.| |  Copyright &copy; Profolios 2022

    </p>

</footer>
</main>
  <style>
.footer{
            
  /* margin-top: 200px; */
  background-color:  rgb(6, 82, 132);
  font-style:normal;
  
}

.text{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Courier New', Courier, monospace;
color: azure;
margin-right: 300px; 
}
 </style>

{% endblock %}